.Rhistory
*.pper
.Rproj.user/229EB7F2/saved_source_markers
.Rproj.user/229EB7F2/sdb/prop/DBC72FD2
household_power_consumption.txt
.Rproj.user/229EB7F2/sdb/s-9250D9E/F4CF83B8
.Rproj.user/229EB7F2/sdb/prop/INDEX
ExData_Plotting1.Rproj
.Rproj.user/229EB7F2/sdb/s-C26AA169/F4CF83B8